:root {
    --bg-color: rgba(0, 0, 0, 0.5);
    --scrollbar-thump-color: rgba(75, 138, 89, 0.30);
    --scrollbar-hover-thump-color: rgba(75, 138, 89, 1);
}
html, body
{ 
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}
main, body, .History, footer {
    scroll-margin-top: 80px;
}
::-webkit-scrollbar {
  width: 6px; 
  max-height: 3px; 
  transition: 200ms smooth ease-in-out;
}

.darkScrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thump-color);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-thump-color);
}
