.screen-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    z-index: 10;

    background-color: #1c1c1c;
    opacity: 0.7;
}